*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}


.list{
    display: flex;
    width: 65vw;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.aboutus {
    color: #fffa6fdb;
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* .aboutus::after{
    content: "";
    position:absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: aliceblue;
    transition: 0.15s ease-in-out;
} */
.contacts{
    color:#fffa6fdb;
    height: 60px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    transition-duration: 0.3s;
}
.signinn{
    color:#fffa6fdb;
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    border-radius: 10px;
    transition-duration: 0.1s;
}
.signinn:hover{
    background-color: #006f55;
    border: 1.8px solid #004434;
    
}
.contacts:hover{
    background-color: #006f55;
    text-decoration:underline;
    
}
.aboutus:hover{
    background-color: #006f55;
    text-decoration: underline;
}

.navbar{
    height: 60px;
    background-color: #009270;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;

    
}
.cricgyan{
    display: flex;
    height: 150px;
    margin-left: 10px;
    color: white;

     
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    
}
a:hover{
    color: rgb(255, 255, 255);
    font-size: 17.5px;
    
}
.input{
    
    transform: translate(0%,0%);
    background-color: #333333;
    height: 40px;
    border-radius: 40px;
    padding: 3px;
    margin-right: 20px;
    
    
}
.input:hover > .search{
    width: 200px;
    padding: 0 6px;
    
}
.input:hover{
    border: 2px solid white ;
}

.search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    
}
.input:hover > .button{
    background-color: white;
}
.button{
    color:#009270;
    float: right;
    width: 40px;
    height: 40px;
    font-size: 17px;
    border-radius:50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar2{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #333333;
    color: white;
    align-items: center;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.773);
    width: 89.9vw;
    list-style-type: none;
    padding-left: 150px;
    position: fixed;
    top: 60px;
    z-index: 0;
    
    
}
.matches{
    display: flex;
    background-color: #1a1a1a;
    height: 40px;
    width: 100px;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 60px; 
    z-index: 10; 
}
.matches:hover{
    background-color: #272727;
    font-size: 16px;
}
.one:hover{
    display: flex;
    background-color: #272727;
    height: 40px;
    font-size: 16.8px;
    align-items: center;
    justify-content: center;
}
.two:hover{
    display: flex;
    background-color: #272727;
    height: 40px;
    font-size: 16.8px;
    align-items: center;
    justify-content: center;
}
.three:hover{
    display: flex;
    background-color: #272727;
    height: 40px;
    font-size: 16.8px;
    align-items: center;
    justify-content: center;
}
.four:hover{
    display: flex;
    background-color: #272727;
    height: 40px;
    font-size: 16.8px;
    align-items: center;
    justify-content: center;
}
.five:hover{
    display: flex;
    background-color: #272727;
    height: 40px;
    font-size: 16.8px;
    align-items: center;
    justify-content: center;
}
.five{
    margin-right: 50px;
}
.more{
    display: none;
}
.box11{
    /* background-color: #009270; */
    
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    
    
}
.content{
    display: flex;
    background-color: rgba(221, 221, 221, 0.495); 
    height: 120vh;
    width: 50vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    z-index: -1;
    backdrop-filter: blur(5px);
}
.content div{
    display: flex;
    font-size: larger;
    line-height: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align: center;
    font-style: italic;
    font-weight: 550;
    color: rgba(0, 69, 97, 0.884);

}

.bgimg{
    position: fixed;
    height: 950px;
    width:100vw;
    z-index: -1;
    background:url('cricket\ ground.jpg') ;
    background-size: cover;
    backdrop-filter: blur(5px);
    
}
.box13{
    height: 10rem;
    background-color: antiquewhite;
    width: 20rem;
    border: 1.5px solid black;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
}
.box14{
    height: 10rem;
    background-color: antiquewhite;
    width: 20rem;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 10px;
}
.box15{
    height: 10rem;
    background-color: antiquewhite;
    width: 20rem;
    margin-right: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1.5px solid black;
}
.box16{
    height: 10rem;
    background-color: antiquewhite;
    width: 20rem;
    border: 1.5px solid black;
    padding: 10px;
    border-radius: 10px;
    
}
.footer{
    width: 100vw;
    height: 50px;
    background-color: #272727;
    /* box-shadow: 0px -10px 25px rgba(0, 0, 0, 0.505); */
    color: white;
    
    display: flex;
    justify-content: center;
    padding-top: 7px;
    
}
.click{
    font-size: 16px;
    transition-property:all;
    color: #009270;
    margin-left: 5px;
    height: 20px;
}
.click:hover{
    font-size: 16px;
    color: rgb(168, 255, 162);
}
.bar {
    display: none;
}
#check{
    display: none;
}
.new{
    display: none;
}
.cross{
    display: none;
}
#signin{
    display: none;
}
.box18 {
    display: none;
}
.box19 {
    display: none;
}
.box20 {
    display: none;
}
.box17 {
    display: none;
}

@media (max-width:660px){
    
    .navbar{
        /* display: flex; */
        width: 100%;
        height: 110px;
        /* align-items: center ;
        justify-content: center;
        justify-content: space-between; */
        position: fixed;
        z-index: 100;
    }
    .list{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        font-size: 25px;
        width: 60%;
        height: 100vh;
        position: fixed;
        top:0;
        left: -100%;
        z-index: 0;
        background-color:#009270;
        transition: all 0.4s ease-in-out;
        padding-top: 120px;
    }
    .aboutus{
        width: 250px;
    }
    .bar , .cross {display: block;}
    #check:checked ~ .list {left: 0;}
    #check{
        display: none;
    }
    .input{
        display: none;
    }
    
    .navbar2{
        width: 100%;
        position: fixed;
        top: 110px;
        z-index: 0;
        box-shadow: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        font-size: 25px;
        width: 70%;
        height: 88vh;
        /* position: fixed; */
        /* top:110px; */
        right: -100%;
        background-color:#333333;
        transition: all 0.4s ease-in-out;
        padding-top: 120px;
        padding-left: 0;
        

    }
    
    #check2:checked ~ .navbar2 {right: 0;}
    .bar{
        display:inline-block;
        position: fixed;
        left: 20px;
        font-size: 25px;
        z-index: 100;
        cursor: pointer;
        
    }
    /* .cross{
        display:inline-block;
        position: fixed;
        left: 20px;
        font-size: 25px;
        top: 43px;
    } */
    .logo{
        /* margin-left: 45vw;
        padding-left: 15px; */
        /* background-color: #1a1a1a; */
        height: 250px;
        position: fixed;
        top: -70px;
    }
    .cricgyan{
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        margin: 0;
        z-index: 10;
    }
    
    /* .signin{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 10px;
        border: 2px solid #006f55;
        border-radius: 10px;
        width: 73px;
        height: 30px;
        font-size: 20px;
        background-color: #006f55b0;
    } */
    .bgimg{
        display: none;
    }
    .box11{
        
        height:1000px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        /* background-color:#004434; */
        width: 41.2em;
        padding: 0;
        /* position: fixed;
        bottom: 0; */

    }
    .content{
        width: 100%;
        height: 150%;
        background-color: #4a4a4a;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: 280px; */
        margin-top: 50px;
        
    }
    
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        
    }
    .content span{
        display: inline-block;
        height: 200px;
        width: 200px;
        position:relative ;
        top: 200px;
        border-radius: 10px;
        padding: 6px;
        background-color: #004434;
        border-radius: 10px;
        border: 1.5px solid white ;
        color: white;
        margin-right: 20px;

    }
    .box20{
        margin-bottom: 150px;
    }
    .box19{
        margin-bottom: 150px;
    }
    .five{
        margin-left:50px;
    }
/* 
    .box13{
        height: 200px;
        width: 200px;
        position: absolute;
        top: 190px;
        left: 330px;
        border-radius: 10px;
        padding: 6px;
    }
    .box14{
        height: 200px;
        width: 200px;
        position: absolute;
        top: 190px;
        left: 70px;
        border-radius: 10px;
        padding: 6px;
    }
    .box15{
        height: 200px;
        width: 200px;
        position: absolute;
        top: 420px;
        
        border-radius: 10px;
        padding: 6px;
        left: 330px;
        
    }
    
    .box16{
        
        height: 200px;
        width: 200px;
        position: absolute;
        top: 420px;
        left: 70px;
        border-radius: 10px;
        padding: 6px;
    } */
    .new{
        display: block;
    }
    /* .box17{
        display: inline-block;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 660px;
        left: 70px;
        border-radius: 10px;
        padding: 6px;
        background-color: #fafffe;
        color: rgb(0, 0, 0);
    }
    .box18{
        display: inline-block;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 660px;
        left: 330px;
        border-radius: 10px;
        padding: 6px;
        background-color: #fafffe;
    }
    .box19{
        display: inline-block;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 900px;
        left: 70px;
        border-radius: 10px;
        padding: 6px;
        background-color: #fafffe;
    }
    .box20{
        display: inline-block;
        height: 200px;
        width: 200px;
        position: absolute;
        top: 900px;
        left: 330px;
        border-radius: 10px;
        padding: 6px;
        background-color: #fafffe;
    } */
    
    .matches{
        display: flex;
        background-color: #1a1a1a;
        height: 40px;
        width: 100px;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 0px;
        top: 107.9px;
        z-index: 100; 
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .more{
        font-family: Arial, Helvetica, sans-serif;
        display: inline-block;
        background-color: #1a1a1a;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        font-size: 19px;
        position: fixed;
        top: 107.9px;
        right: 0;
        text-transform: uppercase;
        z-index: 10;
        height: 40px;
        width: 100px;
    }
    .below{
        background-color: #333333;
        position: fixed;
        top: 107.9px;
        left: 0;
        height: 40px;
        width: 100%;
        z-index:100;
    }
    
    
    .aboutus{
        width: 250px;
    }
    .bar , .cross {display: block;}
    #check:checked ~ .list {left: 0;}
    #check{
        display: none;
    }
    
    

    
    /* #check:checked ~ .navbar2 {right: 0;} */
    /* @media(max-width: 610px){
        .menu {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100vh;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100;
            background-color: var(--color2);
            transition: all 0.2s ease-in-out;
        }
        .menu li {margin-top: 40px;}
        .menu li a {padding: 10px;}
        .open-menu , .close-menu {display: block;}
        #check:checked ~ .menu {right: 0;}
    } */
}